<h1>承認待ち一覧</h1>

<% if @requests.present? %>
              名前

 <% @requests.each do |request| %>
  <%= link_to request.user.name, user_path(request.user.id) %>

   <%= link_to '加入許可', group_group_member_path(@group, request_id: request.id), method: :post %>
   <%= link_to '加入拒否', group_request_path(@group), method: :delete %>
  <% end %>
<% else %>
  <P>承認待ちユーザーはいません。</P>
<% end %>
